<h1 class="animated fadeIn">Sobre Comics App</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, alias?
  Nisi, numquam deleniti eos ullam et officia quas quos porro aspernatur
  consequuntur earum recusandae dignissimos sit excepturi veniam aut
  repudiandae. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Perspiciatis, minus! Corporis at perferendis placeat error voluptatem, ipsam
  eligendi pariatur nesciunt excepturi omnis ratione dicta provident quisquam
  quod eveniet reiciendis sequi.
</p>
