<div class="col animated fadeIn fast">
  <div class="card">
    <img
      [src]="heroe.img"
      class="card-img-top img-fluid"
      [alt]="heroe.nombre"
    />
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">
        {{ heroe.bio }}
      </p>
      <p class="card-text">
        <small class="text-muted">
          {{ heroe.aparicion }}
        </small>
      </p>
      <div class="d-grid">
        <button class="btn btn-outline-primary btn-block" (click)="emitIndex()">
          Ver mas...
        </button>
      </div>
    </div>
  </div>
</div>
